body {
	font-family: Fira Sans, Liberation Sans, DejaVu Sans, sans-serif;
	font-size: 1.1em;
	line-height: 1.5em;
	color: hsla(0,0%,100%,.6);
	background-color: #0c0c14;
	hyphens: auto;
	margin: 0 auto;
	padding: 0 3%;
}

img {
	border-radius: 10px;
	max-width: 80%;
	max-height: 80vh;
}

h1, h2, h3, h4, h5, h6 {
	color: #fc0;
}

h1 {
	line-height: 1.5em;
	max-width: 90%;
}

a {
	color: #fc0;
	text-decoration: none;
}
